h1{
  text-align: center;
  padding-top: 25px;
}
div .cart_cont{
  min-height:800px;
  width:80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: green; */
}
.card img{
  height:220px;
  width:80%;
  
}
.load,.error{
  font-size: 30px;  
  margin-top: 300px;
  margin-left: 45%;

}
.card{
  height:300px;
  border: 1px solid white;
 
  width:31%;
  /* background-color: grey; */
  margin: 10px 0px;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
}